In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/workspace/KordSADLPython/Exercises/Demhat/data/darts.csv")
df.head()

     xCoord    yCoord competitor
0  0.196451 -0.520341      Steve
1  0.476027 -0.306763      Susan
2  0.003175 -0.980736    Michael
3  0.294078  0.267566       Kate
4 -0.051120  0.598946      Steve

In [4]:
df.info

<bound method DataFrame.info of        xCoord    yCoord competitor
0    0.196451 -0.520341      Steve
1    0.476027 -0.306763      Susan
2    0.003175 -0.980736    Michael
3    0.294078  0.267566       Kate
4   -0.051120  0.598946      Steve
..        ...       ...        ...
795  0.320435 -0.327131       Kate
796 -0.179372  0.594201      Steve
797  0.530315 -0.833321    Michael
798 -0.287258  0.890928    Michael
799 -0.628403 -0.140868      Susan

[800 rows x 3 columns]>